
@using SourceControl.Services;

@{
    var recordId = ViewData["RecordId"].ToString();

    var pageTemplate = (SourceControl.Models.Db.PageTemplate)ViewData["PageTemplate"];
    var pageType = pageTemplate.PageType;
    var pageTemplateId = pageTemplate.PageTemplateId;
    var obj = "obj" + pageTemplateId;


    var parentPageTemplateId = Convert.ToInt32(ViewData["ParentPageTemplateId"]);
    if (parentPageTemplateId == 0)
    {
        parentPageTemplateId = pageTemplateId;
    }

    var gridReference = "var grid = $('#grid_" + pageTemplateId + "').data('kendoGrid'); grid.dataSource.read();";
    if (parentPageTemplateId != pageTemplateId)
    {
        gridReference = "var grid = $('#detailGrid_" + parentPageTemplateId + "').closest('.k-grid').data('kendoGrid'); grid.dataSource.read();";
    }


    string tabStrip_GoToListTab = "GoToListTab(" + parentPageTemplateId + ");";

    if (ViewData["CancelMode"].ToString() == "main")
    {
        tabStrip_GoToListTab = "CloseMainTab();";
    }

    if (pageType == "formonly")
    {
        gridReference = "";
    }

    var bindRefKeyValue = "";

    var refKeyValue = ViewData["RefKeyValue"].ToString();
    var refKeyColumnName = ViewData["RefKeyColumnName"].ToString();
    if (refKeyValue.Length > 0 && (recordId == "" || recordId == "0"))
    {
        bindRefKeyValue = "var jsonn = JSON.parse('{ \"P" + pageTemplateId + "_" + refKeyColumnName + "\" : \"" + refKeyValue + "\" }'); BindForm('Form_" + pageTemplateId + "',  jsonn);";
    }

    SourceControl.Common.Helper.LogError("_FormTemplate.cshtml  recordId=" + recordId + "     refKeyValue=" + refKeyValue + "      refKeyColumnName=" + refKeyColumnName);
}

<div class="app-command-bar">
    @{
        if (pageType == "formonly")
        {
            <a href="javascript:@Html.Raw(obj)Save('close')" class="app-command-item"><img src="/Images/ToolBar/save.png" width="25" height="25" /> <span>Save</span></a>
        }
        else
        {
            <a href="javascript:@Html.Raw(obj)Save('default')" class="app-command-item"><img src="/Images/ToolBar/save.png" width="25" height="25" /> <span>Save</span></a>
            <a href="javascript:@Html.Raw(obj)Cancel()" class="app-command-item"><img src="/Images/ToolBar/cancel.png" width="25" height="25" /> <span>Cancel</span></a>
        }

        if (pageTemplate.HelpId > 0)
        {
            <div style="float:right;">
                <a href="javascript:AddHelpTab(@Html.Raw(pageTemplate.HelpId))" class="app-command-item"><img src="/Images/ToolBar/help.png" /><span> Help</span></a>
            </div>
        }
    }
</div>


<br />
<input type="hidden" id="InternalId_@pageTemplateId" value="@Html.Raw(recordId)" />

@Html.Raw(SessionService.FormLayout(Convert.ToInt32(pageTemplateId)))


<script>
$(document).ready(function () {

    if ("@recordId" == "0" && $("#addSpan_@pageTemplateId").length) {
        $("#addSpan_@pageTemplateId").show();
    }

    BindFormData(@pageTemplateId, "@Html.Raw(recordId)");

    @Html.Raw(bindRefKeyValue)

    OldJson_@pageTemplateId = ToJsonString("Form_@pageTemplateId");
});

function @Html.Raw(obj)Cancel() {
	@Html.Raw(tabStrip_GoToListTab)
}

function @Html.Raw(obj)Save(nextStep) {

	// validation
	var validCustomRule = true;
	var validator = $("#Form_@pageTemplateId").kendoValidator().data("kendoValidator");

	if (!validator.validate() || !validCustomRule) {
		return;
	}

	var json = ToJsonString("Form_@pageTemplateId");

	//DebugLog("json=" + json);
	//DebugLog("OldJson=" + OldJson_@pageTemplateId);
	//return;

	var uid = "";
	$.ajax({
		url: "/Page/SaveFormData",
		type: "POST",
		data: { pageTemplateId: @pageTemplateId, json: json, oldJson: OldJson_@pageTemplateId },
		async: false,
		dataType: "text",
		success: function (currentRowId) {
			@Html.Raw(gridReference)
		}
	}).done(function () {
		if (nextStep == "close") {
			CloseSpecificTab("PageTemplate" + @pageTemplateId);
		} else {
			@Html.Raw(tabStrip_GoToListTab)
		}
	});

}

</script>

